.form-div {
	border: 3px solid #ef4123;
	border-radius: 5px;
	padding: 1em;
}

#tabs {
	display: flex;
	margin-bottom: 1em;
}

.single-tab {
	padding: 0 0.25em 0.5em 0.25em;
	margin-right: 1em;
	cursor: pointer;
}

.orange-bottom-border {
	border-bottom: 3px solid #db5220;
}
