.form-div {
	border: 3px solid #ef4123;
	border-radius: 5px;
	padding: 1.5em;
}

#tabs {
	display: flex;
	margin-bottom: 1em;
}

.single-tab {
	padding: 0 0.25em 0.5em 0.25em;
	margin-right: 1em;
	cursor: pointer;
}

.orange-bottom-border {
	border-bottom: 3px solid #db5220;
	border-radius: 5px;
}

#error {
	width: 100%;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid #db5220;
	border-radius: 5px;
	background-color: #db522055;
}

#prediction-value {
	width: 100%;
	margin-top: 1em;
	padding: 0.5em;
	border: 1px solid #76ff03;
	border-radius: 5px;
	background-color: #76ff0355;
}
