@font-face {
	font-family: "Optimal Extra Black";
	src: url("./optimal-extra-black.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#full-logo {
	width: 12em;
}

h1 {
	font-size: 60px;
	font-size: clamp(50px, 5vw, 80px);
	margin: 0.5em 0.5em 1em 0.5em;
	font-family: "Optimal Extra Black", "Montserrat", sans-serif;
	text-align: center;
}

#cta {
	background-color: #db5220;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	padding: 0.5em 1em;
	font-size: 22px;
	font-size: clamp(20px, 2vw, 25px);
	font-weight: bold;
	display: flex;
	align-items: center;
}

#cta img {
	height: 1em;
	margin-left: 0.3em;
	animation: translateHorizontally 1.5s ease-in-out infinite;
}

@keyframes translateHorizontally {
	0%,
	100% {
		transform: translateX(2px);
	}
	50% {
		transform: translateX(10px);
	}
}

footer {
	height: 10vh;
	display: flex;
	align-items: center;
}
